In [1]:
import pandas as pd

#need glob to search the files in folder
from glob import glob

load all pickle files

In [2]:
#search in the directory to load all pkl files matches the given names and exclud * from the match
df_list= sorted(glob('../data/df_payments_*.pkl'))
#print the list of files
df_list

['../data\\df_payments_2015.pkl',
 '../data\\df_payments_2016.pkl',
 '../data\\df_payments_2017.pkl']

In [4]:
#concate the list of pickle files to one dataframe
df_all_years = pd.concat((pd.read_pickle(file)
          for file in df_list), ignore_index= True)

In [5]:
df_all_years.head()

,national_provider_identifier,last_name_organization_name_of_the_provider,entity_type_of_the_provider,city_of_the_provider,zip_code_of_the_provider,state_code_of_the_provider,provider_type,place_of_service,hcpcs_code,hcpcs_description,number_of_services,number_of_medicare_beneficiaries,number_of_distinct_medicare_beneficiary_per_day_services,average_medicare_allowed_amount,year
0,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99217,Hospital observation care discharge,23.0,23.0,23.0,72.680000,2015
1,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99219,Hospital observation care typically 50 minutes,18.0,18.0,18.0,135.850000,2015
2,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99221,"Initial hospital inpatient care, typically 30 ...",59.0,58.0,59.0,101.365085,2015
3,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99222,"Initial hospital inpatient care, typically 50 ...",132.0,130.0,132.0,139.010455,2015
4,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99223,"Initial hospital inpatient care, typically 70 ...",220.0,215.0,220.0,205.185955,2015

In [6]:
print(df_all_years.shape)

(29060231, 15)

In [7]:
df_all_years.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29060231 entries, 0 to 29060230
Data columns (total 15 columns):
national_provider_identifier                                int64
last_name_organization_name_of_the_provider                 object
entity_type_of_the_provider                                 object
city_of_the_provider                                        object
zip_code_of_the_provider                                    object
state_code_of_the_provider                                  object
provider_type                                               object
place_of_service                                            object
hcpcs_code                                                  object
hcpcs_description                                           object
number_of_services                                          float64
number_of_medicare_beneficiaries                            float64
number_of_distinct_medicare_beneficiary_per_day_services    float64
average_medicare_allowed_amount                             float64
year                                                        int64
dtypes: float64(4), int64(2), object(9)
memory usage: 3.2+ GB

In [8]:
#when only null is one coulmn
df_null= df_all_years['last_name_organization_name_of_the_provider'].isnull()
df_null

0           False
1           False
2           False
3           False
4           False
            ...
29060226    False
29060227    False
29060228    False
29060229    False
29060230    False
Name: last_name_organization_name_of_the_provider, Length: 29060231, dtype: bool

In [9]:
#mask to show all rows
df_all_years[df_null]

,national_provider_identifier,last_name_organization_name_of_the_provider,entity_type_of_the_provider,city_of_the_provider,zip_code_of_the_provider,state_code_of_the_provider,provider_type,place_of_service,hcpcs_code,hcpcs_description,number_of_services,number_of_medicare_beneficiaries,number_of_distinct_medicare_beneficiary_per_day_services,average_medicare_allowed_amount,year
36082,1366468308,NaN,I,HAZLETON,182015863,PA,Pathology,F,88312,Special stained specimen slides to identify or...,95.0,85.0,87.0,26.963684,2015
36815,1255328902,NaN,I,FREDERICKSBURG,224014467,VA,Cardiology,O,99204,"New patient office or other outpatient visit, ...",32.0,32.0,32.0,161.035000,2015
253015,1700049269,NaN,I,STONEHAM,2180,MA,Gastroenterology,F,45380,Biopsy of large bowel using an endoscope,50.0,48.0,50.0,111.300600,2015
311217,1497082820,NaN,I,KERNERSVILLE,272847140,NC,Physician Assistant,F,99222,"Initial hospital inpatient care, typically 50 ...",16.0,16.0,16.0,114.363125,2015
564177,1134289879,NaN,I,HIGHLAND,923463348,CA,Family Practice,O,99212,Established patient office or other outpatient...,23.0,18.0,23.0,50.016957,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27640437,1851440127,NaN,I,BUFORD,305181741,GA,Internal Medicine,O,J3420,"Injection, vitamin b-12 cyanocobalamin, up to ...",363.0,190.0,363.0,3.001157,2017
28469151,1932547866,NaN,I,HIAWATHA,52233,IA,Ophthalmology,O,92012,Eye and medical examination for diagnosis and ...,48.0,45.0,48.0,83.020000,2017
28469152,1932547866,NaN,I,HIAWATHA,52233,IA,Ophthalmology,O,92014,Eye and medical examination for diagnosis and ...,29.0,29.0,29.0,120.440000,2017
28469153,1932547866,NaN,I,HIAWATHA,52233,IA,Ophthalmology,O,92020,Examination of cornea and iris using lens devi...,12.0,12.0,12.0,26.370000,2017
28469154,1932547866,NaN,I,HIAWATHA,52233,IA,Ophthalmology,O,99214,Established patient office or other outpatient...,13.0,13.0,13.0,105.340000,2017

Save the dataframe

In [10]:
#save to data folder as pickle file
df_all_years.to_pickle('../data/Combined_years_payments.pkl')