## Main EDA file for teamwork - Phoenix
- Team members
    - Jack McCann (leader)
    - Nicole Muldowney
    - Teresa Whitesell
    - Ari Khursheed
    - Diego Alvarez
    - Lori Butler
    
**MVP:  Set Goal analysis and presentation:**
- Dashboard showing cost/utilization over the 3 years
    - Chart showing payments over time 
    - Chart showing counts over time 

    - Chart showing procedures with largest change in avg payment   
        - OPTIONAL/Stretch: Interesting to see if we can find total # people covered under medicare each year, to show change as change in %. See link below for annual # of beneficiaries   
    - Chart showing largest change in utilization   
        - OPTIONAL/Stretch: Interesting to see if we can find total # people covered under medicare each year, to show change as change in %   
 
    - Research into causes of oddities
    - Filter to specific procedure codes, providers, cities/states, etc

**Done by 1pm Tuesday**   
ETL: by year files   
	Extract  
	Transform (requires EDA first; how to handle nulls)  
	Load  

**Done Thursday by 1pm**  
Analysis (make final visualizations - some in Python, others in PowerBI/Tableau) - by goal (payments, utilization counts)   

**Done by Friday 1 pm (walkthrough)**  
Presentation (TBD)

In [1]:
import pandas as pd
import pickle
from glob import glob
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Read in 2015

In [2]:
df_payments_2015 = pd.read_pickle('../data/pickled_files/payments_2015.pkl')
print(df_payments_2015.shape)
df_payments_2015.head()

(9497892, 15)

,national_provider_identifier,last_name_organization_name_of_the_provider,entity_type_of_the_provider,city_of_the_provider,zip_code_of_the_provider,state_code_of_the_provider,provider_type,place_of_service,hcpcs_code,hcpcs_description,number_of_services,number_of_medicare_beneficiaries,number_of_distinct_medicare_beneficiary_per_day_services,average_medicare_allowed_amount,year
0,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99217,Hospital observation care discharge,23.0,23.0,23.0,72.680000,2015
1,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99219,Hospital observation care typically 50 minutes,18.0,18.0,18.0,135.850000,2015
2,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99221,"Initial hospital inpatient care, typically 30 ...",59.0,58.0,59.0,101.365085,2015
3,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99222,"Initial hospital inpatient care, typically 50 ...",132.0,130.0,132.0,139.010455,2015
4,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99223,"Initial hospital inpatient care, typically 70 ...",220.0,215.0,220.0,205.185955,2015

In [3]:
# To find item that needs to be dropped from 2015, has irrelevant text in last name field and
# no other data in any rows

df_payments_2015[df_payments_2015.national_provider_identifier == 1]

,national_provider_identifier,last_name_organization_name_of_the_provider,entity_type_of_the_provider,city_of_the_provider,zip_code_of_the_provider,state_code_of_the_provider,provider_type,place_of_service,hcpcs_code,hcpcs_description,number_of_services,number_of_medicare_beneficiaries,number_of_distinct_medicare_beneficiary_per_day_services,average_medicare_allowed_amount,year
7205022,1,CPT copyright 2014 American Medical Associatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015

In [4]:
# To drop the irrelevant row, index # 7205022

df_payments_2015 = df_payments_2015.drop(labels = 7205022)

In [5]:
# To ensure that the irrelevant row was dropped (CONFIRMED)

df_payments_2015[df_payments_2015.national_provider_identifier == 1]

Empty DataFrame
Columns: [national_provider_identifier, last_name_organization_name_of_the_provider, entity_type_of_the_provider, city_of_the_provider, zip_code_of_the_provider, state_code_of_the_provider, provider_type, place_of_service, hcpcs_code, hcpcs_description, number_of_services, number_of_medicare_beneficiaries, number_of_distinct_medicare_beneficiary_per_day_services, average_medicare_allowed_amount, year]
Index: []

In [6]:
#To see number of values that are null

df_payments_2015.info(verbose = True, null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9497891 entries, 0 to 9497891
Data columns (total 15 columns):
national_provider_identifier                                9497891 non-null int64
last_name_organization_name_of_the_provider                 9497746 non-null object
entity_type_of_the_provider                                 9497891 non-null object
city_of_the_provider                                        9497888 non-null object
zip_code_of_the_provider                                    9497891 non-null object
state_code_of_the_provider                                  9497891 non-null object
provider_type                                               9497891 non-null object
place_of_service                                            9497891 non-null object
hcpcs_code                                                  9497891 non-null object
hcpcs_description                                           9497891 non-null object
number_of_services                                          9497891 non-null float64
number_of_medicare_beneficiaries                            9497891 non-null float64
number_of_distinct_medicare_beneficiary_per_day_services    9497891 non-null float64
average_medicare_allowed_amount                             9497891 non-null float64
year                                                        9497891 non-null int64
dtypes: float64(4), int64(2), object(9)
memory usage: 1.1+ GB

## Read in 2016

In [7]:
df_payments_2016 = pd.read_pickle('../data/pickled_files/payments_2016.pkl')
print(df_payments_2016.shape)
df_payments_2016.head()

(9714896, 15)

,national_provider_identifier,last_name_organization_name_of_the_provider,entity_type_of_the_provider,city_of_the_provider,zip_code_of_the_provider,state_code_of_the_provider,provider_type,place_of_service,hcpcs_code,hcpcs_description,number_of_services,number_of_medicare_beneficiaries,number_of_distinct_medicare_beneficiary_per_day_services,average_medicare_allowed_amount,year
0,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99217,Hospital observation care discharge,57.0,55,57,72.743158,2016
1,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99219,Hospital observation care typically 50 minutes,38.0,38,38,135.010000,2016
2,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99220,Hospital observation care typically 70 minutes...,23.0,23,23,189.239565,2016
3,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99221,"Initial hospital inpatient care, typically 30 ...",20.0,20,20,100.750000,2016
4,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99222,"Initial hospital inpatient care, typically 50 ...",96.0,87,96,136.250000,2016

## Read in 2017

In [8]:
df_payments_2017 = pd.read_pickle('../data/pickled_files/payments_2017.pkl')
print(df_payments_2017.shape)
df_payments_2017.head()

(9847443, 15)

,national_provider_identifier,last_name_organization_name_of_the_provider,entity_type_of_the_provider,city_of_the_provider,zip_code_of_the_provider,state_code_of_the_provider,provider_type,place_of_service,hcpcs_code,hcpcs_description,number_of_services,number_of_medicare_beneficiaries,number_of_distinct_medicare_beneficiary_per_day_services,average_medicare_allowed_amount,year
0,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99217,Hospital observation care discharge,100.0,96,100,73.398800,2017
1,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99218,Hospital observation care typically 30 minutes,26.0,25,26,100.080000,2017
2,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99219,Hospital observation care typically 50 minutes,52.0,51,52,136.380000,2017
3,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99220,Hospital observation care typically 70 minutes...,59.0,59,59,190.363729,2017
4,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99221,"Initial hospital inpatient care, typically 30 ...",16.0,16,16,101.680000,2017

## Create DataFrame by concatenating dfs for 2015, 2016, 2017

In [9]:
# STEP 1  Create a list of dfs
#This creates a list of the 3 files

payments_2015to2017_list = sorted(glob('../data/pickled_files/payments_*.pkl'))  
payments_2015to2017_list

['../data/pickled_files\\payments_2015.pkl',
 '../data/pickled_files\\payments_2016.pkl',
 '../data/pickled_files\\payments_2017.pkl']

In [10]:
# STEP 2 of concatenating files for 2015, 2016, 2017: 
# Using the list of 3 .pkl files to create concatenated df with all 3 years

# STEPS 1 & 2 could be run in same cell. Running separately here to view how it's working

df_payments_2015to2017 = pd.concat((pd.read_pickle(file)
          for file in payments_2015to2017_list), ignore_index= True)

In [11]:
df_payments_2015to2017.shape

(29060231, 15)

In [12]:
df_payments_2015to2017.head()

,national_provider_identifier,last_name_organization_name_of_the_provider,entity_type_of_the_provider,city_of_the_provider,zip_code_of_the_provider,state_code_of_the_provider,provider_type,place_of_service,hcpcs_code,hcpcs_description,number_of_services,number_of_medicare_beneficiaries,number_of_distinct_medicare_beneficiary_per_day_services,average_medicare_allowed_amount,year
0,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99217,Hospital observation care discharge,23.0,23.0,23.0,72.680000,2015
1,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99219,Hospital observation care typically 50 minutes,18.0,18.0,18.0,135.850000,2015
2,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99221,"Initial hospital inpatient care, typically 30 ...",59.0,58.0,59.0,101.365085,2015
3,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99222,"Initial hospital inpatient care, typically 50 ...",132.0,130.0,132.0,139.010455,2015
4,1003000126,ENKESHAFI,I,CUMBERLAND,215021854,MD,Internal Medicine,F,99223,"Initial hospital inpatient care, typically 70 ...",220.0,215.0,220.0,205.185955,2015

## EDA of all 3 years

In [13]:
df_payments_2015to2017.shape

(29060231, 15)

In [14]:
df_payments_2015to2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29060231 entries, 0 to 29060230
Data columns (total 15 columns):
national_provider_identifier                                int64
last_name_organization_name_of_the_provider                 object
entity_type_of_the_provider                                 object
city_of_the_provider                                        object
zip_code_of_the_provider                                    object
state_code_of_the_provider                                  object
provider_type                                               object
place_of_service                                            object
hcpcs_code                                                  object
hcpcs_description                                           object
number_of_services                                          float64
number_of_medicare_beneficiaries                            float64
number_of_distinct_medicare_beneficiary_per_day_services    float64
average_medicare_allowed_amount                             float64
year                                                        int64
dtypes: float64(4), int64(2), object(9)
memory usage: 3.2+ GB

In [24]:
# To look ta count of null values

df_payments_2015to2017.isnull().sum()


'''
Results are as expeceted. We researched the 427 last name/org name nulls as a team earlier
They don't have last/org name, many had first name (which we didn't import), yet all of them
had full data in all other fields. We chose to keep the 427 rows with null last names
since none of our final reporting requires knowing the name.
'''

national_provider_identifier                                  0
last_name_organization_name_of_the_provider                 427
entity_type_of_the_provider                                   1
city_of_the_provider                                          6
zip_code_of_the_provider                                      5
state_code_of_the_provider                                    1
provider_type                                                 1
place_of_service                                              1
hcpcs_code                                                    1
hcpcs_description                                             1
number_of_services                                            1
number_of_medicare_beneficiaries                              1
number_of_distinct_medicare_beneficiary_per_day_services      1
average_medicare_allowed_amount                               1
year                                                          0
dtype: int64

In [16]:
# To see the number of unique values of HCPCS codecodes  

count_of_codes = df_payments_2015to2017.hcpcs_code.nunique()
print("There are", count_of_codes, "unique HCPCS codes in 2015-2017")

There are 6763 unique HCPCS codes in 2015-2017

In [17]:
# Statistics for number_of_services column. 
# Range from 2.4M to 7.1M min/max

# NOTABLE: 
#- Statistics for number_of_services column:  
#   - Big difference between mean 2.4M and 50th percentile (median) 4.4M. 

df_payments_2015to2017.number_of_services.describe()

count    2.906023e+07
mean     2.460806e+02
std      4.828521e+03
min      2.400000e+00
25%      2.100000e+01
50%      4.400000e+01
75%      1.190000e+02
max      7.195536e+06
Name: number_of_services, dtype: float64

In [18]:
df_payments_2015to2017.number_of_medicare_beneficiaries.describe()

count    2.906023e+07
mean     8.916477e+01
std      1.158662e+03
min      1.100000e+01
25%      1.700000e+01
50%      3.300000e+01
75%      7.600000e+01
max      7.928730e+05
Name: number_of_medicare_beneficiaries, dtype: float64

In [19]:
df_payments_2015to2017.number_of_distinct_medicare_beneficiary_per_day_services.describe()

count    2.906023e+07
mean     1.437782e+02
std      2.222082e+03
min      1.100000e+01
25%      2.000000e+01
50%      4.100000e+01
75%      1.080000e+02
max      2.180422e+06
Name: number_of_distinct_medicare_beneficiary_per_day_services, dtype: float64

In [20]:
df_payments_2015to2017.average_medicare_allowed_amount.describe()

count    2.906023e+07
mean     1.004310e+02
std      2.578002e+02
min      6.035380e-05
25%      2.378000e+01
50%      6.399000e+01
75%      1.136400e+02
max      5.668435e+04
Name: average_medicare_allowed_amount, dtype: float64

In [21]:
# Checking the min in above number...
# 6.03538e-05 = 6.035380 x 10^-05 = 0.00006035380
# Used converter here: https://www.calculatorsoup.com/calculators/math/scientific-notation-converter.php

df_payments_2015to2017.average_medicare_allowed_amount.min()

6.03538e-05

In [22]:
# Tried to make plot. Takes too long. This doesn't run. Takes too long
# df_payments_2015to2017.plot()

In [23]:

# DON'T RUN THIS CELL. NOT WORKING. LEFT CODE AS REFERENCE

# Tried pairplot (deleted code), then tried PairGrid.
# Neither is working

%%time

# Tried using seaborn pairplot, took too long.
# Trying seaborn PairGrid instead

grid = sns.PairGrid(df_payments_2015to2017, 
                    y_vars=['average_medicare_allowed_amount'], 
                    x_vars=['number_of_medicare_beneficiaries', 
                           'number_of_distinct_medicare_beneficiary_per_day_services',
                           'average_medicare_allowed_amount'],
                    height = 2
                   )
grid.map(sns.regplot, color='.3')
grid.set(ylim=(0,9000000), yticks=[225000, 450000, 900000]);

UsageError: Line magic function `%%time` not found.

In [ ]:

#THIS CELL TAKES A LONG TIME TO RUN. GRAPH IS NOT MEANINGFUL. MOVING ON TO NEXT STEP.

%timeit

plt.plot('average_medicare_allowed_amount',
         'number_of_distinct_medicare_beneficiary_per_day_services',
         marker = 'o',
         linestyle = 'none',
         data = df_payments_2015to2017
        )
plt.xticks(rotation = 70)
plt.xlabel('Ave Medicare Allowed Amount')
plt.ylabel('No. Distinct Benificiary per Day Services');

## Notable findings from EDA
- Statistics for number_of_services column:  
    - Big difference between mean (average) and median (50th percentile) in these columns:
        - number_of_services
        - number_of_medicare_beneficiaries
        - number_of_distinct_medicare_beneficiary_per_day_services
        - average_medicare_allowed_amount

    - Average medicare allowed amount's minimum is less that 1 cent. That seems odd.

## Starting EDA for Payments by year and and Counts by year

### Chart to show count of each HCPCS code grouped by year.

#### Tried about 10 things. Unable to make a chart of the counts grouped by year. Will get help Monday.